#--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.2
#ctransformers[cuda]
ctransformers
datasets
accelerate
lxml
PyMuPDF
pyvi
python-dotenv
langchain
langchain-community
langchain_huggingface
langchain-google-genai
langchain-chroma
chromadb
rank-bm25
streamlit
PyMuPDF
beautifulsoup4
sentence_transformers
requests